body {
    max-width: 45rem;
    background-color: silver;
    color: midnightblue;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 20px;
}

html {
    font-size: 100%;
}

.our-div {
    text-align: left;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

.paragraph-one {
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
}

.paragraph-two {
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
}

.paragraph-three {
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
}

.paragraph-four {
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
}